name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
      env:
        APP_USERNAME: ${{ secrets.APP_USERNAME }}
        APP_PASSWORD: ${{ secrets.APP_PASSWORD }}
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
    - name: Upload Playwright Screenshots/Traces
      if: failure()
      uses: actions/upload-artifact@v4
      with:
          name: playwright-artifacts
          path: |
            test-results/screenshots/
            test-results/traces/
          retention-days: 30

    - name: Send email on failure
      if: failure()   # samo ako testovi failuju
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.gmail.com
        server_port: 465
        username: ${{ secrets.EMAIL_USERNAME }}
        password: ${{ secrets.EMAIL_PASSWORD }}
        subject: Playwright tests failed
        to: ${{ secrets.EMAIL_TO }}
        from: github-actions@example.com
        body: Test run failed! Check artifacts at ${{ github.server_url }}/${{ github.repository }}/actions
        secure: true

